<!doctype html>
<html>
  <head>
    <!-- TODO: Change this when site is pushed -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Melt" %></title>
    
    <%= stylesheet_link_tag 'site' %>
    <%= javascript_include_tag 'site' %>
  </head>
  <body>
    <div class="main-wrapper">
      <nav class="navbar">
        <% link_to '/', :class => 'melt-logo' do %>
          <%= image_tag "images/melt-logo-sm.png" %>
        <% end %>

        <div class="links-wrapper">
          <div class="links">
            <%= link_to 'About', 'about.html', relative: true %>
            <%= link_to 'Projects', 'projects.html', relative: true %>
            <%= link_to 'Contact', 'contact.html', relative: true %>
          </div>
        </div>
      </nav>

      <%= yield %>

      <div class="footer">
        <div class="footer-row">
          <div class="contact-info">
            <table>
              <tr>
                <th>Address:</th>
                <td>
                  1 Adelaide St. E.
                  30th Fl
                </td>
              </tr>
              <tr>
                <th>Phone:</th>
                <td>+1 844 909 0080</td>
              </tr>
              <tr>
                <th>Email:</th>
                <td>
                  <%= link_to "mailto:info@melt.ai", "info@melt.ai" %>
                </td>
              </tr>
            </table>
          </div>
          <div class="social-links">
            <% link_to '#', :class => 'social-link' do %>
              <%= image_tag "images/twitter.svg" %>
            <% end %>

            <% link_to '#', :class => 'social-link' do %>
              <%= image_tag "images/youtube.svg" %>
            <% end %>

            <% link_to '#', :class => 'social-link' do %>
              <%= image_tag "images/facebook.svg" %>
            <% end %>

            <% link_to '#', :class => 'social-link' do %>
              <%= image_tag "images/linkedin.svg" %>
            <% end %>
          </div>
        </div>
        <div class="footer-row">
          <div class="copyright">
            © Melt Labs. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
