---
title: Melt | About
---

<div class="section">
  <div class="about-text-wrapper">
    <div class="about-text">
      Melt is a team of makers, engineers, and scientists with deep technical expertise
      who’ve come together to take invention out of the lab and into the real world. Based
      in Toronto Canada, Melt was founded to give visionary ideas a place to reach their potential. We love the 
      challenge of the seemingly impossible that, if successful, would profoundly impact 
      people’s lives. Interested? Come <%= link_to 'join us' %>.
    </div>
  </div>
</div>

<div class="section sub-hero">
  Core Capabilities
</div>

<div class="section">
  <div class="capability-row">
    <div class="capability-column u-float-left">
      <div class="capability-img">
        <%= image_tag "images/ai.png" %>
      </div>
      <div class="capability-title">
        Artificial Intelligence
      </div>
      <div class="capability-description">
        Helping organizations across the globe to
        build, test, and deploy deep learning, data
        science and advanced analytics models.
      </div>
    </div>
    <div class="capability-column u-float-right">
      <div class="capability-img">
        <%= image_tag "images/rocket.png" %>
      </div>
      <div class="capability-title">
        Skunk Works
      </div>
      <div class="capability-description">
        From zero to launch, our lab supports
        entrepreneurs and developers around the
        world to invent and radically innovate IP.
      </div>
    </div>
  </div>
  <div class="capability-row">
    <div class="capability-column u-float-left">
      <div class="capability-img">
        <%= image_tag "images/joypad.png" %>
      </div>
      <div class="capability-title">
        Product Development
      </div>
      <div class="capability-description">
        Building elite-class software and hardware
        products for startups to enterprise spanning
        AV/VR, IoT, blockchain, wetware and beyond.
      </div>
    </div>
    <div class="capability-column u-float-right">
      <div class="capability-img">
        <%= image_tag "images/cloud.png" %>
      </div>
      <div class="capability-title">
        Cloud Computing
      </div>
      <div class="capability-description">
        Deeply strategic deployments involving
        extremely secure, performant and scaleable
        cloud ops and cloud architected solutions.
      </div>
    </div>
  </div>
</div>